<div id="<%= dom_id entry %>">
  <%= render partial: "timer", locals: { entry: entry } %>
  <p>
    <strong>Project:</strong>
    <%= entry.project %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

</div>
<button
  type="button"
  data-controller="timer"
  data-action="timer#stop"
  data-id="<%= entry.id %>">
  Stop
</button>
<p>
  <%= link_to "Show this entry", entry %>
</p>
