<div id="<%= dom_id entry %>">
  <%= render partial: "timer", locals: { entry: entry } %>
  <p>
    <strong>Project:</strong>
    <%= entry.project %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

</div>
<p>
  <%= link_to "Show this entry", entry %>
</p>
