<turbo-frame id="timer_<%= dom_id entry %>" />
  <p>
    <strong>Start:</strong>
    <p id="entry_<%= entry.id %>_start"><%= entry.start %></p>
  </p>

  <p>
    <strong>Time Elapsed:</strong>
    <p id="time_elapsed_<%= entry.id %>"><%= entry.time_elapsed %></p>
  </p>
</turbo-frame>
